html
{
	/*min-width: 550px;*/
}

.footer
{
	background: #eeeeee;
	border-top: 1px solid #6c6b69;
	padding: 4em 0 0;
	margin-top: 0.1em;
}

.footer_logo
{
	display: block;
	width: 100%;
}

p.footer-class 
{
	font-size: 1.5em;
	color: #000;
	text-align: center;
	border-top: 1px solid #000;
	padding: 1.5em 0 0;
	margin: 2.3em 0 3em;
}

.footer-left
{
	border-right: 2px solid #d2d2d2;
}

.footer-middle
{
	padding: 0 2em 1.2em 4em;
	border-right: 2px solid #d2d2d2;
}

.footer-middle h3
{
	color: #010101;
	font-size: 2em;
	border-bottom: 1px solid #010101;
	padding-bottom: 0.2em;
	width: 90%;
	margin-top: 0;
}

.footer-middle span
{
	margin: 0;
	font-size: 1em;
	line-height: 1.7em;
}

span.email
{
	margin-left: 1.5em;
}

.footer-right
{
	padding: 0 2em 1.2em 4em;
}

.footer-right h3
{
	color: #010101;
	font-size: 2em;
	border-bottom: 1px solid #010101;
	padding-bottom: 0.2em;
	width: 100%;
	margin-top: 0;
}

.footer-right a
{
	margin: 0;
	font-size: 1em;
	line-height: 1.7em;
	display: inline-block;
	margin-right: 1em;
}

.lanrenzhijia_top
{ 
	width: 50px; 
	height: 50px; 
	position: fixed; 
	right: 30px; 
	bottom: 30px; 
	z-index: 9999; 
	display: none; 
	background: url(../img/lanren.gif) no-repeat center center #f67280;
}

.megamenu
{
	margin-bottom: 0px;
	padding: 0;
	width: 100%;
	list-style: none;
	display: inline-block;
	position: relative;
}

.megamenu li
{
	margin-bottom: -5px;
	display: inline;
}

.megamenu>li>a
{
	float: left;
	padding: 8px 25px;
	text-decoration: none;
	color: #000;
	font-size: 1.6em
}

.megamenu>li>a:hover
{
	color: #f67280;
}

@media (max-width: 992px){
.header-top
{
	background: #f8f8f8;
	position: absolute;
	z-index: 1000;
	width: 100%;
}

.statu_bar
{
	padding: 0.4em 3em 0.5em 0;
	background: #fff;	
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	height: 70px;
}

ul.support
{
	float: left;
}

ul.support-right
{
	float: right;
}

ul.support li, ul.support-right li 
{
	display: inline-block;
	margin: 1.5em 0.7em 1.2em;
}

ul.support li span, ul.support-right li a
{
	font-size: 1em;
	text-decoration: none;
	color: #000;
	vertical-align: top;
	text-decoration: none;
}

ul.support li a:hover, ul.support-right li a:hover
{
	color: #f67280;
}

ul.support li i.item_message
{
	background: url(../img/item_message.png);
	width: 22px;
	height: 22px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 3px 0 0;
}

ul.support li i.item_tel
{
	background: url(../img/item_tel.png);
	width: 22px;
	height: 22px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 3px 0 0;
}

ul.support-right li i.item_login
{
	background: url(../img/item_login.png);
	width: 22px;
	height: 22px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 3px 0 0;
}

ul.support-right li i.item_register
{
	background: url(../img/item_register.png);
	width: 22px;
	height: 22px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 3px 0 0;
}

.logo
{
	float: left;
	margin-top: 0.1em;
}

.logo h1
{	
	font-size: 3.5em;
}

.logo h1 a
{
	text-decoration: none;
	color: #f67280;
}

.top-nav
{
	float: right;
	margin-top: 2.0em;
	width: 50%;
}

.top-nav-xs
{
	float: right;
	margin-top: 1em;
	width: 25%;
}

#menu
{
	width: 100%;
	padding: 1em 2em;
	/*border: 2px solid #fff;*/
	background-color: #f67280;
	text-align: center;
}

#menu p
{
	color: #fff;
	margin: 0px;
	font-size: 1.8em;
}

#menu-xs
{
	background: rgba(0, 0, 0, 0.23);
	text-align: center;
	display: none;
	padding: 1em 0 0.5em;
}

#menu-xs ul
{
	list-style: none;
	padding: 0px;
}

#menu-xs ul li
{
	padding: 0.5em 0;
}

#menu-xs ul li a
{
	color: #000;
	font-size: 1.6em;
	text-decoration: none;
}

#menu-xs ul li a:hover
{
	color: #f67280;
}

.header-bottom 
{
	padding: 0.5em 0 1.5em;
}
}

@media (min-width: 992px){
.header-top
{
	background: #f8f8f8;
	position: absolute;
	z-index: 1000;
	width: 100%;
}

.statu_bar
{
	padding: 0.4em 3em 0.5em 0;
	background: #fff;	
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	height: 70px;
}

ul.support
{
	float: left;
}

ul.support-right
{
	float: right;
}

ul.support li, ul.support-right li 
{
	display: inline-block;
	margin: 1.5em 0.7em 1.2em;
}

ul.support li span, ul.support-right li a
{
	font-size: 1em;
	text-decoration: none;
	color: #000;
	vertical-align: top;
	text-decoration: none;
}

ul.support li a:hover, ul.support-right li a:hover
{
	color: #f67280;
}

ul.support li i.item_message
{
	background: url(../img/item_message.png);
	width: 22px;
	height: 22px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 3px 0 0;
}

ul.support li i.item_tel
{
	background: url(../img/item_tel.png);
	width: 22px;
	height: 22px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 3px 0 0;
}

ul.support-right li i.item_login
{
	background: url(../img/item_login.png);
	width: 22px;
	height: 22px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 3px 0 0;
}

ul.support-right li i.item_register
{
	background: url(../img/item_register.png);
	width: 22px;
	height: 22px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 3px 0 0;
}

.logo
{
	float: left;
	margin-top: 0.1em;
}

.logo h1
{	
	font-size: 3.5em;
}

.logo h1 a
{
	text-decoration: none;
	color: #f67280;
}

.top-nav
{
	float: right;
	margin-top: 2.0em;
	width: 50%;
}

.top-nav-xs
{
	float: right;
	margin-top: 1em;
	width: 30%;
}

#menu
{
	width: 100%;
	padding: 1.2em 2em;
	/*border: 2px solid #fff;*/
	background-color: #f67280;
	text-align: center;
}

#menu p
{
	color: #fff;
	margin: 0px;
	font-size: 1.8em;
}

#menu-xs
{
	background: rgba(0, 0, 0, 0.23);
	text-align: center;
	display: none;
	padding: 1em 0 0.5em;

}

#menu-xs ul
{
	list-style: none;
	padding: 0px;
}

#menu-xs ul li
{
	padding: 0.5em 0;
}

#menu-xs ul li a
{
	color: #000;
	font-size: 1.6em;
	text-decoration: none;
}

#menu-xs ul li a:hover
{
	color: #f67280;
}

.header-bottom 
{
	padding: 0.5em 0 1.5em;
}
}



.bar_news
{
	background: url(../img/product.jpg) 0px 0px;
	width: 100%;
	background-size: cover;
	min-height: 200px;
	display: block;
	text-align: center;
}

.bar_news h2
{
	color: #fff;
	font-size: 5em;
	text-align: center;
	padding: 1.6em 0;
	margin: 0px;
}

.location
{
	float:right;
	font-size: 1em;
	color:#000;	
	padding: 1.2em 0;
}

.location a
{
	text-decoration: none;
	color:#000;
}

.location i
{
	background-image: url(../img/location.png);
	width: 8px;
	height: 10px;
	display: inline-block;
	margin: 0 5px;
}

.bottom-grid1
{
	background: url(../img/back2.jpg) center ;
	width: 100%;
	min-height: 250px;
	display: block;
	background-size: cover;
	text-align: left;
    padding: 1.5em;
    margin-top: 70px;
}

.fit1 
{
	border: 2px solid #fff;
	color: #fff;
    padding: 3.5em 9em;
}

.fit1 h3
{
	font-size: 5em;
	font-weight: 300;
}

.fit1 p
{
	font-size: 2.5em;
	font-weight: 300;
	line-height: 1.5em;
	width: 80%;
}