.password_label,.password_input,.password_error,.password_btn
{
	margin-left: 0px;
	margin-right: 0px;
}

.password_label
{
	margin-top: 1em;
}

.password_label p
{
	font-size: 4em;
	color: #333;
	padding-left: 0px;
	padding-right: 0px;
}

.password_input
{
	margin-top: 2em;
	margin-bottom: 4em;
}

.password_input input
{
	font-size: 4em;
	color: #333;
	border-radius: 10px;
	border: 1px solid #333;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.password_error
{
	margin-top: -2em;
	/*display: none;*/
	margin-bottom: 2em;
}

.password_error p
{
	font-size: 3em;
	color: #ff5d56;
}

.password_btn
{
	margin-top: 8em;
}

.btn_submit
{
	width: 100%;
	background-color: #ff5d56;
	color: #fff;
	font-size: 4em;
	padding: 0.8em 0;
	border-radius: 15px;
	/*box-shadow: 0 0 10px rgba(100,100,100,0.5);*/
}