body
{	
	font-family: "Microsoft YaHei";
	font-size: 1.0em;
	color: #000;
	/*background-image: url(../image/body-bg.jpg);*/
}

.header-top
{
	position: relative;
}

.content
{
	min-height: 500px;
	margin-top: 50px;
}

.user_info
{
	text-align: center;
}

.userpic
{
	width: 15%;
	border-radius: 100%;
	border: 5px solid #eeeeee;
}

.username
{
	font-size: 2em;
	margin-top: 0.7em;
}

.person_btn
{
	margin-top: 2em;
}

a.readmore
{
    background: #ff5d56;
    border: 2px solid #ff5d56;
    color: #fff;
    /*background: none;
    border: 2px solid #000;
    color: #000;*/
    padding: 0.3em 1.2em;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
}

a.readmore:hover
{
    background: none;
    border: 2px solid #000;
    color: #000;
    /*background: #ff5d56;
    border: 2px solid #ff5d56;
    color: #fff;*/
}

.beartist
{
	float: left;
}

.modify
{
	float: right;
}

.person_info
{
	padding: 3em 10% 0em;
}

.info_div
{
	padding: 2em;
}

.info1
{
	margin: 0;
}

.info
{
	margin: 0;
	background: #fff;
	padding-top: 1em;
}

.info2
{
	margin: 0;
	background: #fff;
	padding-top: 1em;
	padding-bottom: 2em;
}

.info p
{
	font-size: 1.7em;
	margin: 0;
	line-height: 1.7em;
	color: #535353;
}

.info p a
{
	text-decoration: none;
	color: #535353;
}

.info p a:hover
{
	text-decoration: none;
	color: #ff5d56;
}

p.title_person
{
	font-size: 2em;
	padding-bottom: 0.7em;
	padding-top: 0.7em;
	margin-bottom: 0em;
	background: #eee;
}


.buy_info
{
	padding: 0em 10% 0em;
}

.main_up
{
	background: #fff;
	padding: 2.3em 0em 3em;
	-webkit-box-shadow:0 0 10px rgba(149, 149, 149, 0.5);  
	-moz-box-shadow:0 0 10px rgba(149, 149, 149, 0.5);  
	box-shadow:0 0 10px rgba(149, 149, 149, 0.5);  
}

.row
{
	margin-right: 0px;
	margin-left: 0px;
}

.main-mid
{
	background-color: #f8f8f8;
	-webkit-box-shadow:0 0 10px rgba(149, 149, 149, 0.5);  
	-moz-box-shadow:0 0 10px rgba(149, 149, 149, 0.5);  
	box-shadow:0 0 10px rgba(149, 149, 149, 0.5);
	padding-bottom: 3em;
}

.glyphicon
{
	color: #535353;
}

.label_t
{
	color: #535353;
}


@media (max-width: 992px){

.content
{
	margin-top: 0px;
	background: #f8f8f8;
}

.main_up
{
	padding: 2.3em 0 0em;
	background: #f8f8f8;
}

.userpic
{
	width: 20%;
}

.username
{
	font-size: 3em;
}

.user_info
{
	margin-top: 2.3em;
	margin-bottom: 2.3em;
	padding-top: 2.5em;
	padding-bottom: 2.3em;
	background: #fff;
	box-shadow: 0 0 10px rgba(149, 149, 149, 0.5);
}

.main_up
{
	padding-top: 0px;
	padding-bottom: 0px;
}

a.readmore
{
    /*background: #ff5d56;
    border: 2px solid #ff5d56;
    color: #fff;*/
    background: #fff;
    border: 0px;
    /*border: 2px solid #000;*/
    color: #000;
    padding: 0.7em 1.2em;
    font-size: 2.5em;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 0 5px rgba(149,149,149,0.5);
}

a.readmore:hover
{
    /*background: none;*/
    /*border: 2px solid #000;*/
    /*color: #000;*/
    /*background: #ff5d56;
    border: 2px solid #ff5d56;
    color: #fff;*/
    border: 0px;
}

a.beartist
{
	border-right: 2px solid #eee
}

.btn-xs
{
	padding-right: 0px;
	padding-left: 0px;
}

.person_info
{
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
}

.info_div
{
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	box-shadow: 0 0 5px rgba(149,149,149,0.4);
}

.buy_info
{
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
}

p.title_person
{
	font-size: 3em;
	padding: 1em;
}

.info
{
	padding: 1.5em 1em 1em;
	border-bottom: 1px solid #eee;
}

.info p
{
	font-size: 2em;
}

p.label_t
{
	font-size: 2.2em;
}

.bottom-grid1
{
	margin-top: 0px;
	min-height: 0px;
}

.fit1
{
	padding: 1em 9em;
}

}